@model IEnumerable<Meals.Models.RecipeIngredient>

@{
    ViewData["Title"] = "Index";
}

<partial name="_TitleBar" />

<h2>Recipe Ingredients</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recipe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Recipe.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredient.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { recipeId = item.RecipeId, ingredientId = item.IngredientId }) |
                @Html.ActionLink("Details", "Details", new { recipeId = item.RecipeId, ingredientId = item.IngredientId }) |
                @Html.ActionLink("Delete", "Delete", new { recipeId = item.RecipeId, ingredientId = item.IngredientId })
            </td>
        </tr>
}
    </tbody>
</table>
